/*preset*/


.container {
    max-width: 100%;
    background-color: blue;
    margin: 0 auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1_2 {
    flex-basis: 50%;
}

.col-1_3 {
    flex-basis: calc(100% / 3);
}

.col-2_3 {
    flex-basis: calc((100% / 3) * 2);
}



/*inizio*/








.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}



.container_1 {
    display: flex;
    margin-left: 300px;
}


.list_1 {
    display: flex;
    gap: 30px;
}

 
.list_2 {
    display: flex;
    gap:30px;
    
}


.button {
    border-radius: 30px;
}