/*preset*/


.container {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1_2 {
    flex-basis: 50%;
}

.col-1_3 {
    flex-basis: calc(100% / 3);
}

.col-2_3 {
    flex-basis: calc((100% / 3) * 2);
}


.img {
    max-width: 100%;
    max-height: 100%;
}

/*inizio*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}



.container_1 {
    display: flex;
    margin-left: 300px;
}


.list_1 {
    display: flex;
    gap: 30px;
}

 
.list_2 {
    display: flex;
    gap:30px;
    
}


.li,button {
    border-radius: 990px;
    background-color: rgba(89, 89, 240, 0.903);
    font-size: 15px;
    
}



ul {
    list-style-type: none;
    }



/*section*/

.main-container {
    background-color:#20b6f69b;
    height: 600px;
}

.row {
    
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content:center;
}






.container-hero {
    display: flex;   
}


.col-50 {
    
}


.container_sm {
    max-width: 900px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}



.row-1, .hero_content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}









/*piani abbonamento*/







.plans {
    width: 100%;
    background-color:beige;
    flex-direction: row;
    text-align: center;
    height: 800px;
    border-radius: 3px;
}


